.home {
  margin: 40px 0;

  .container {

    .title {
      position: relative;
      h1::before {
        content: "";
        position: absolute;
        width: 100%;
        max-width: 52.1rem;
        height: 1.6rem;
        background: black;
        right: 0;
        top: 30.5px - 8px;
      }
      
      p {
        font-family: "Titillium Web", sans-serif;
        font-size: 2.4rem;
      }
    }

    .table-cards {
      display: flex;
      gap: 3.2rem;
      justify-items: center;
      flex-wrap: wrap;
      margin: 7rem 0;

      .card:first-child {
        margin-bottom: 3.8rem;
      }
    }

    .swiper.flags {
      margin-bottom: 16.7rem;
      .swiper-wrapper {
        .swiper-slide {
          width: 100%;
          max-width: 18.8rem;
          border-right: 1px solid gray;

          .block {
            display: flex;
            flex-direction: column;
            align-items: center;
            
            .img {
              width: 100%;
              max-width: 7rem;
            }

            p, h2 {
              font-family: 'Titillium Web', sans-serif;
              font-size: 2.4rem;
              font-weight: bold;
              color: #787878;
            }
          }
        }
      }
    }
  }
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5rem;
}

::-webkit-scrollbar-thumb {
  background: #FA1E01;
  border-radius: 5rem;
}

::-webkit-scrollbar-track-piece {
  background: transparent;
}
